nav {
  background: aqua;
  position: relative;
  padding: 1rem 5%;
}

.navContainer {
  color: aliceblue;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navContainer h1 {
  text-transform: uppercase;
  cursor: pointer;
}

.navContainer p {
  padding: .5rem;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.navContainer p span {
  position: absolute;
  font-size: 10px;
  background: #000;
  color: aliceblue;
  top: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
