.cardContainer {
  margin-top: 2rem;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  position: relative;
  background: lightcyan;
  border-radius: 20px;
  transition: 0.3s all ease-in-out;
}

.cardContainer:hover {
  scale: 1.05;
}

.movieImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieImg img {
  border-radius: 10px;
  width: 200px;
  height: 400px;
  object-fit: cover;
}

.movieDetails {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.watchListBtn button {
  padding: 10px 21px;
  outline: 0;
  border: 0;
  border-radius: 10px;
  background: aqua;
  color: aliceblue;
  text-transform: capitalize;
}

@media screen and (max-width: 660px) {
  .cardContainer {
    flex-direction: column;
  }
  
  .movieImg img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
